[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
pandas = "*"
scikit-learn = "*"
torch = "*"
tqdm = "*"
torchinfo = "*"
mlflow = "*"
torchmetrics = "*"
pyyaml = "*"
prefetch-generator = "*"

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
flake8 = "*"
pytest-cov = "*"
pre-commit = "*"
sphinx-rtd-theme = "*"
sphinx = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
